body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: .2em;
    background: $primary;
    color: $text;
    margin: 0;
    a {
        color: $text;
        text-decoration: none;
    }
    a:hover{
        color: $link;
    }
}

.main-content {
    border-top: 1px solid $secondary;
    h1 {
        color: $hover;
        font-size: 1.5em;
        letter-spacing: .3em;
        padding: 0;
        margin: 0;
    }
    h4 {
        font-size: 1.1em;
        font-weight: bolder;
        letter-spacing: .3em;  
        padding: 0;
        margin: 0;     
        }
    p {
        padding: 0;
        margin: 0;
        display: inline;
    }
    small {
        font-size: .8em;
        letter-spacing: .1em;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 20px;

    a {
        font-size: 1.5em;
        padding-right: 1em;
    }
}

.titulo {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid $secondary;
    h1{
        font-size: 1.1em;
        font-weight: bold;
        letter-spacing: .1em;
        text-align: right;
        padding-right: 5px;
        color: $text;
    }
}

.mimenu{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    .current_page_item{
        a {
            //display:none; //remove from the menu for space purposes
            letter-spacing: .3em;
            font-weight: bolder;
            color: $hover;
        }
    }
    li{
        margin: 5px 0;
        text-decoration: none;
        display:inline;
        
        a{
            border-radius: .25em;
            background: $primary;
            color:$text;
            text-decoration: none;
            padding: 5px;
            text-align: center;
            transition: color 250ms ease-in, letter-spacing 250ms ease-out;
            
        }
        a:hover {
            color: $link;
            letter-spacing: .3em;
        }
        
    }   
}

