.main-grid {
    max-width: $frame-large;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    div {
        padding: 10px;
        //border: 1px solid $text;
    }
}
.tech-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    div {
        background-color: $secondary;
        margin: .5em;
        padding: .2em;
        transition: margin 250ms ease-out, padding 250ms ease-out;
        strong {
            font-weight: normal;
            transition: color 250ms ease-in,  font-weight 250ms ease-out;
        }
    }
    div:hover {
        margin: 0em;
        padding: .7em;
        strong {
            color: $link;
            font-weight: bold;
        }
    }
}