@media( min-width:$frame-large ){

    .titulo {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid $secondary;
        h1{
            font-size: 1.5em;
            font-weight: bold;
            letter-spacing: .2em;
            text-align: right;
            padding-right: 100px;
            color: $text;
        }
    }
    .main-grid{
        grid-template-columns: 1fr 2fr;
    }

    .mimenu {
        position: static;
        margin: 0;
        padding: 0;
        li{
            margin: 1px 2px;
            display: block;
            a {
                display: block;                    
            }
            a:hover {
                color: $link;
            }
        }
    }

    .tech-grid {
        grid-template-columns: repeat(3, 1fr);
        .back {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        .framew {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
        .front {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        .cloud {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
        .cms {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }
    }
}



