//COLOR SCHEME

$primary:   #14191d;
$secondary: #122027;
$text:      #c7e1e9;
$link:      #DEA77B;
$hover:     #B74C32;

//WIDTHS
$frame-large: 900px;
$frame-med:   520px;
$frame-small:   360px;

$padding-large:   10px;

$border: 1px solid #fff;


