/*!
Theme Name: tto-dev
Theme URI: http://underscores.me/
Author: Roberto Rosa
Author URI: http://www.rjrosa.com
Description: Bootstrap and Vue template
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: tto-dev
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

tto-dev is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .2em;
  background: #14191d;
  color: #c7e1e9;
  margin: 0;
}

body a {
  color: #c7e1e9;
  text-decoration: none;
}

body a:hover {
  color: #DEA77B;
}

.main-content {
  border-top: 1px solid #122027;
}

.main-content h1 {
  color: #B74C32;
  font-size: 1.5em;
  letter-spacing: .3em;
  padding: 0;
  margin: 0;
}

.main-content h4 {
  font-size: 1.1em;
  font-weight: bolder;
  letter-spacing: .3em;
  padding: 0;
  margin: 0;
}

.main-content p {
  padding: 0;
  margin: 0;
  display: inline;
}

.main-content small {
  font-size: .8em;
  letter-spacing: .1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

.footer a {
  font-size: 1.5em;
  padding-right: 1em;
}

.titulo {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #122027;
}

.titulo h1 {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: right;
  padding-right: 5px;
  color: #c7e1e9;
}

.mimenu {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mimenu .current_page_item a {
  letter-spacing: .3em;
  font-weight: bolder;
  color: #B74C32;
}

.mimenu li {
  margin: 5px 0;
  text-decoration: none;
  display: inline;
}

.mimenu li a {
  border-radius: .25em;
  background: #14191d;
  color: #c7e1e9;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  -webkit-transition: color 250ms ease-in, letter-spacing 250ms ease-out;
  transition: color 250ms ease-in, letter-spacing 250ms ease-out;
}

.mimenu li a:hover {
  color: #DEA77B;
  letter-spacing: .3em;
}

.main-grid {
  max-width: 900px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: .5em;
}

.main-grid div {
  padding: 10px;
}

.tech-grid {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: .5em;
}

.tech-grid div {
  background-color: #122027;
  margin: .5em;
  padding: .2em;
  -webkit-transition: margin 250ms ease-out, padding 250ms ease-out;
  transition: margin 250ms ease-out, padding 250ms ease-out;
}

.tech-grid div strong {
  font-weight: normal;
  -webkit-transition: color 250ms ease-in,  font-weight 250ms ease-out;
  transition: color 250ms ease-in,  font-weight 250ms ease-out;
}

.tech-grid div:hover {
  margin: 0em;
  padding: .7em;
}

.tech-grid div:hover strong {
  color: #DEA77B;
  font-weight: bold;
}

@media (min-width: 900px) {
  .titulo {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #122027;
  }
  .titulo h1 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: right;
    padding-right: 100px;
    color: #c7e1e9;
  }
  .main-grid {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .mimenu {
    position: static;
    margin: 0;
    padding: 0;
  }
  .mimenu li {
    margin: 1px 2px;
    display: block;
  }
  .mimenu li a {
    display: block;
  }
  .mimenu li a:hover {
    color: #DEA77B;
  }
  .tech-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .tech-grid .back {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .tech-grid .framew {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .tech-grid .front {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .tech-grid .cloud {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .tech-grid .cms {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}
/*# sourceMappingURL=style.css.map */